@import '../../../styles/variables';
div.dark {
  background: $background-main-dark;
  transition: 1s;
}
.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 2px 5px;
}
.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}
.main {
  height: 80vh;
  overflow-y: scroll;
}
.form {
  height: 10vh;
  width: 100%;
  display: flex;
  font-size: 1.5rem;
  button {
    width: 20%;
    background: rgb(36, 100, 143);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 1.25rem;
    border-bottom-right-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}
.input {
  line-height: 1.5;
  width: 100%;
  font-size: 1.5rem;
  background: rgb(76, 128, 206);
  color: white;
  outline: none;
  border: none;
  border-bottom-left-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  padding: 0 10px;
  &::placeholder {
    color: rgb(202, 199, 199);
  }
}

.message {
  display: flex;
  align-items: center;
}

.sent {
  flex-direction: row-reverse;
}
.text {
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  margin: 0.2rem 0;
}
.sent {
  .text {
    color: white;
    background: #0b93f6;
    align-self: flex-end;
  }
}
.received {
  .text {
    background: $background-for-containers-dark;
    color: white;
  }
}
.sign__in {
  color: #282c34;
  background: rgb(79, 156, 146);
  max-width: 400px;
  margin: 0 auto;
}
.sign__out {
  color: #282c34;
  background: rgb(104, 50, 50);
  max-width: 400px;
  margin: 0 auto;
}
