.alert__container {
  max-width: 1000px;
  margin: 0 auto;
  .alert__container {
    padding: 1rem;
    background: rgb(255, 98, 98);
    color: white;
    width: 10rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-between;
    p {
      color: white;
    }
  }
}
