@import "../../../styles/variables";
div.dark {
  background-color: $background-main-dark;
  transition: 1s;
}
.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.cards {
  background: rgb(211, 210, 210);

  max-width: 250px;
  border-radius: 0.2rem;
  margin-bottom: 2rem;
  p {
    text-align: center;
  }
  img {
    width: 100%;
    border-top-left-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
  }
}
.active {
  background-color: aquamarine;
}
.right__click {
  background-color: rgb(196, 120, 101);
  padding: 0.5rem 0;
  margin: 0.2rem 1rem;
  border-radius: 0.5rem;
}
.link {
  text-decoration: none;
  display: flex;
  justify-content: center;
}
.button__container{
  display: flex;
  flex-direction: column;
  .button {
    border: none;
    outline: none;
    padding: 0.5rem 0;
    margin: 0.2rem 1rem;
    border-radius: 0.5rem;
  }
}