.modal {
  background: white;
  margin: 1rem 0;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  p {
    color: rgb(44, 41, 41);
    margin-left: 1rem;
  }
}
.modal__footer__background {
  margin-top: 2rem;
  background: rgb(228, 219, 219);
  display: flex;
  justify-content: flex-end;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  padding: 0.5rem;
  .modal__footer {
    margin-left: auto;
  }
}
