@import 'variables';
section.dark {
  background: $background-main-dark;
  transition: 1s;
  .title {
    color: $color-text-dark;
  }
  .content {
    color: $color-text-dark;
  }
}
.title {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 2rem;
}
.content {
  padding-bottom: 2rem;
}
