@import "variables";

section.dark {
  background: $background-main-dark;
  transition: 1s;
  .title,
  .review__title,
  p {
    color: $color-text-dark;
  }
}
.title {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.review__title {
  text-align: center;
  padding-bottom: 1rem;
}

@media only screen and (min-width: 600px) {
  .flex {
    display: flex;
    justify-content: space-between;
  }
}
